In [1]:
m = [12,10,15,16]
m.append(5)
print(m)
m.pop(0)
print(m)

[12, 10, 15, 16, 5]
[10, 15, 16, 5]

In [2]:
print(m[::-1])

[5, 16, 15, 10]

In [3]:
from ast import literal_eval

In [4]:
m = "[16.8, 16.9, 17.0, 17.1, 17.2, 17.1, 17.1, 17.1, 17.2, 17.3]"
print(literal_eval(m))

[16.8, 16.9, 17.0, 17.1, 17.2, 17.1, 17.1, 17.1, 17.2, 17.3]

In [5]:
import pandas as pd
import numpy as np
from scipy.spatial import distance


t = np.array([[19.3, 18.5, 15.6, 14.7, 13.6]])

df = pd.DataFrame(t)
df.head()

      0     1     2     3     4
0  19.3  18.5  15.6  14.7  13.6

In [6]:
print(np.array(literal_eval('[17.6, 18.9, 14.5, 15.6, 18.9]'))[[0,2]])

[17.6 14.5]

In [7]:
print(type("[17.6, 18.9, 14.5, 15.6, 18.9]"))

<class 'str'>

In [8]:
t = [12.1, 15.4, 16.1, 17.8, 23.5, 15.5]
print(type(t))
print(list(np.array(t)[[1, 4]]))
print(np.array(t)[[1, 4]])

<class 'list'>
[15.4, 23.5]
[15.4 23.5]

In [9]:
import pandas as pd
from sklearn.cluster import KMeans

In [10]:
df = pd.read_csv('../data/training/braila_pressure5770.csv')
df.head()

      timestamp                                         ftr_vector
0  1.607823e+09  [16.8, 16.9, 17.0, 17.1, 17.2, 17.1, 17.1, 17....
1  1.607824e+09  [16.9, 17.0, 17.1, 17.2, 17.1, 17.1, 17.1, 17....
2  1.607825e+09  [17.0, 17.1, 17.2, 17.1, 17.1, 17.1, 17.2, 17....
3  1.607826e+09  [17.1, 17.2, 17.1, 17.1, 17.1, 17.2, 17.3, 17....
4  1.607827e+09  [17.2, 17.1, 17.1, 17.1, 17.2, 17.3, 17.2, 17....

In [11]:
literal_eval(df['ftr_vector'][0])

[16.8, 16.9, 17.0, 17.1, 17.2, 17.1, 17.1, 17.1, 17.2, 17.3]

In [12]:
"""
df["ftr-1"] = ""
df["ftr-2"] = ""
df["ftr-3"] = ""
df["ftr-4"] = ""
df["ftr-5"] = ""
df["ftr-6"] = ""
df["ftr-7"] = ""
df["ftr-8"] = ""
df["ftr-9"] = ""
df["ftr-10"] = ""
"""

'\ndf["ftr-1"] = ""\ndf["ftr-2"] = ""\ndf["ftr-3"] = ""\ndf["ftr-4"] = ""\ndf["ftr-5"] = ""\ndf["ftr-6"] = ""\ndf["ftr-7"] = ""\ndf["ftr-8"] = ""\ndf["ftr-9"] = ""\ndf["ftr-10"] = ""\n'

In [13]:
df.head()

      timestamp                                         ftr_vector
0  1.607823e+09  [16.8, 16.9, 17.0, 17.1, 17.2, 17.1, 17.1, 17....
1  1.607824e+09  [16.9, 17.0, 17.1, 17.2, 17.1, 17.1, 17.1, 17....
2  1.607825e+09  [17.0, 17.1, 17.2, 17.1, 17.1, 17.1, 17.2, 17....
3  1.607826e+09  [17.1, 17.2, 17.1, 17.1, 17.1, 17.2, 17.3, 17....
4  1.607827e+09  [17.2, 17.1, 17.1, 17.1, 17.2, 17.3, 17.2, 17....

In [14]:
list(literal_eval(df["ftr_vector"][0]))[0]

16.8

In [15]:
df["ftr"] = ""

In [16]:
"""
for i in range(len(df)):
    df["ftr-1"][i] = list(literal_eval(df["ftr_vector"][i]))[0]
    df["ftr-2"][i] = list(literal_eval(df["ftr_vector"][i]))[1]
    df["ftr-3"][i] = list(literal_eval(df["ftr_vector"][i]))[2]
    df["ftr-4"][i] = list(literal_eval(df["ftr_vector"][i]))[3]
    df["ftr-5"][i] = list(literal_eval(df["ftr_vector"][i]))[4]
    df["ftr-6"][i] = list(literal_eval(df["ftr_vector"][i]))[5]
    df["ftr-7"][i] = list(literal_eval(df["ftr_vector"][i]))[6]
    df["ftr-8"][i] = list(literal_eval(df["ftr_vector"][i]))[7]
    df["ftr-9"][i] = list(literal_eval(df["ftr_vector"][i]))[8]
    df["ftr-10"][i] = list(literal_eval(df["ftr_vector"][i]))[9]

"""

'\nfor i in range(len(df)):\n    df["ftr-1"][i] = list(literal_eval(df["ftr_vector"][i]))[0]\n    df["ftr-2"][i] = list(literal_eval(df["ftr_vector"][i]))[1]\n    df["ftr-3"][i] = list(literal_eval(df["ftr_vector"][i]))[2]\n    df["ftr-4"][i] = list(literal_eval(df["ftr_vector"][i]))[3]\n    df["ftr-5"][i] = list(literal_eval(df["ftr_vector"][i]))[4]\n    df["ftr-6"][i] = list(literal_eval(df["ftr_vector"][i]))[5]\n    df["ftr-7"][i] = list(literal_eval(df["ftr_vector"][i]))[6]\n    df["ftr-8"][i] = list(literal_eval(df["ftr_vector"][i]))[7]\n    df["ftr-9"][i] = list(literal_eval(df["ftr_vector"][i]))[8]\n    df["ftr-10"][i] = list(literal_eval(df["ftr_vector"][i]))[9]\n\n'

In [17]:
for i in range(len(df)):
    df["ftr"][i] = literal_eval(df["ftr_vector"][i])[0:2]

/tmp/ipykernel_84237/4282913075.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["ftr"][i] = literal_eval(df["ftr_vector"][i])[0:2]

In [18]:
df.head()

,timestamp,ftr_vector,ftr
0,1.607823e+09,"[16.8, 16.9, 17.0, 17.1, 17.2, 17.1, 17.1, 17....","[16.8, 16.9]"
1,1.607824e+09,"[16.9, 17.0, 17.1, 17.2, 17.1, 17.1, 17.1, 17....","[16.9, 17.0]"
2,1.607825e+09,"[17.0, 17.1, 17.2, 17.1, 17.1, 17.1, 17.2, 17....","[17.0, 17.1]"
3,1.607826e+09,"[17.1, 17.2, 17.1, 17.1, 17.1, 17.2, 17.3, 17....","[17.1, 17.2]"
4,1.607827e+09,"[17.2, 17.1, 17.1, 17.1, 17.2, 17.3, 17.2, 17....","[17.2, 17.1]"

In [19]:
print(len(df))

8138

In [20]:
X = np.array(df["ftr"])

Y = np.vstack(X).reshape(-1, len(X[0]))

"""
Y = np.zeros([8138,2])
for i in range(Y.shape[0]):
    for j in range(Y.shape[1]):
        Y[i, j] = X[i][j]

"""

'\nY = np.zeros([8138,2])\nfor i in range(Y.shape[0]):\n    for j in range(Y.shape[1]):\n        Y[i, j] = X[i][j]\n\n'

In [21]:
kmeans = KMeans(n_clusters=2).fit(Y)
m = kmeans.labels_

In [22]:
kmeans.predict([[16.8, 16.9]])[0]

0

In [23]:
kmeans.cluster_centers_

array([[17.43512215, 17.43410092],
       [15.98377863, 15.9855598 ]])

In [24]:
euclidean_dist = distance.euclidean(
    [16.8, 16.9], kmeans.cluster_centers_[kmeans.predict([[16.8, 16.9]])[0]]
)
if euclidean_dist < 3:
    anomalous = False

In [25]:
import numpy as np
from sklearn.svm import OneClassSVM

# Generate a random dataset
data = np.random.normal(0, 1, (1000, 2))


# Train an One-Class SVM on the dataset
svm = OneClassSVM(gamma="auto").fit(data)

# Predict the anomaly scores for each data point
scores = svm.score_samples(data)


# Define a threshold for anomaly detection
threshold = np.percentile(scores, 5)

# Identify anomalies
anomalies = np.where(scores < threshold)

print(svm.predict([[0.5, 0.5]]))
if(svm.predict([[0.5, 0.5]])==1):
    print('yes')

# Print the indices of the anomalies
print("Anomalies:", anomalies)

[1]
yes
Anomalies: (array([ 65,  86,  94, 120, 144, 157, 171, 210, 254, 282, 355, 368, 378,
       391, 405, 409, 424, 426, 438, 493, 496, 509, 510, 514, 543, 553,
       570, 580, 594, 638, 644, 650, 665, 671, 683, 697, 700, 701, 703,
       718, 739, 759, 811, 851, 865, 871, 898, 921, 945, 957]),)

In [26]:
k = np.arange(0, 15)
k = np.array(k)

print(k.shape)

print(k.reshape(1, 15).shape)

(15,)
(1, 15)

In [27]:
df = pd.read_csv('../data/sensor-cleaning-data/data3.csv', sep=';')

In [28]:
df.tail(5)

       offset       val  error  errorRate
31411  314.12  0.020502  False        0.0
31412  314.13  0.003408  False        0.0
31413  314.14 -0.495102  False        0.0
31414  314.15 -0.449937  False        0.0
31415  314.16  0.293979  False        0.0

In [29]:
columns = ["timestamp", "ftr_vector"]

data_frame = pd.DataFrame(columns=columns)
data_frame["timestamp"] = df["offset"] * 1000
data_frame["ftr_vector"] = df["val"]

In [30]:
data_frame.head()

   timestamp  ftr_vector
0       10.0   -0.811200
1       20.0   -0.112893
2       30.0   -0.215887
3       40.0    0.465387
4       50.0   -0.066045

In [31]:
data_frame.to_csv("../data/sensor-cleaning-data/cleaned/data3.csv", index=False)